//- div.create-new
//- 	label.create-new__label(for="list") Create new
//- 	ul.create-new__list#list
//- 		li.create-new__list--item Folder
//- 		li.create-new__list--item File
//- 		li.create-new__list--item Note