header.header
	h1.header__title The Mind
	form.form-search
		input(type="search" class="form-search__input" placeholder="Search..." list="search-sugestions" autofocus="autofocus")
		datalist(id="search-sugestions")
			option Notes
			option Movies
			option Book Chapters
	button(class="n-button") New 
	