div.folder
	span.folder__icon
	span.folder__label Livros
div.folder
	span.folder__icon
	span.folder__label Filmes
div.folder
	span.folder__icon
	span.folder__label Fotos
div.folder
	span.folder__icon
	span.folder__label Musicas
div.folder
	span.folder__icon
	span.folder__label Podcasts
div.folder
	span.folder__icon
	span.folder__label Notas